# IDEs
.idea/*
*.iws
*.iml
*.ipr
!.idea/inspectionProfiles
!.idea/inspectionProfiles/*
!.idea/detekt.xml
!.run/
.vscode/*
.hermes
.agentbridge
.kotlin
.plan

# Build targets
.gradle/*
**/build/*
**/target/*
**/.openapi-generator*
**/kls*
.output.txt

# Java
**/src/generated/*

# Other
logs/*
devops/data/*

issues.json
